*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: max-content;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #333;
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
    rotate 200ms ease-in-out, translate 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: 74.91005532px;
  translate: 0 calc(8px / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: 74.91005532px;
  translate: 0 calc(8px / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate 200ms ease-in-out;
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(32px + 8px + 1rem);
  background-color: #333;
  color: #fff;
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
